{% extends "base.html" %}

{% block title %}gatebot admin{% endblock %}

{% block pagetitle %}gate admin{% endblock %}

{% block content %}
<div class="kb-contentbox">
  <div id="kb-admin-nav">
    <div class="kb-admin-nav-tab" url="{% url gateadmin-main %}">
      <a href="{% url gateadmin-main %}">gateadmin main</a>
    </div>

    <div class="kb-admin-nav-tab" url="{% url gateadmin-gate-list %}">
      <a href="{% url gateadmin-gate-list %}">gates</a>
    </div>

    <div class="kb-admin-subnav">
      {% block kegadmin-tap-subnav %}{% endblock %}
    </div>

    <script>
      $("div.kb-admin-nav-tab").click(function() {
        window.location = $(this).attr("url");
        return false;
      });

      $("div.kb-admin-nav-tab").hover(function() {
        $(this).addClass("kb-admin-nav-tab-hover");
      }, function() {
        $(this).removeClass("kb-admin-nav-tab-hover");
      });
    </script>
  </div>

  <div style="float: left;">
    {% block kegadmin-main %}{%endblock%}
  </div>

  <div class="clear"></div>
</div>

{% endblock %}
