{% load kegweblib %}
<div class="kb-drink-box">
  <div class="kb-drink-box-mugshot">
    {% mugshot_box entry.user 48 %}
  </div>
  <div class="kb-drink-box-details">
    <div class="kb-drink-box-details-headline">
      {% if entry.user %}<a href="{% url user user.user.username %}">{{entry.user.username}}</a> {% else %} guest{% endif %}
    </div>
    <div class="kb-event-box-info">
      <a href="{% url drink drink.seqn %}">drink {{drink.seqn}}</a>
    </div>
  </div>
  <div class="kb-event-box-dateline">
    {% timeago entry.starttime %}
  </div>
  <div class="clear"></div>
</div>
