{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}user details for {{ user.username }}{% endblock %}

{% block pagetitle %}
  user overview: {{ user.username }}
{% endblock %}

{% block col-1 %}
<div class="kb-contentbox">
  <div style="float:left;">
    {% mugshot_box user 128 %}
  </div>
  <table border="0" class="kb-statstable">
     <tr>
        <td align="right" valign="top"><b>Total Entries</b></td>
        <td align="left">{{ user.entries.valid.count }}</td>
     </tr>

     {% if user.entries.valid.count %}
     <tr>
        <td align="right" valign="top"><b>Last Entry</b></td>
        <td align="left">
          {{ user.entries.valid.0.starttime|date:"l, F j, Y" }}<br>
          <i>({% timeago user.entries.valid.0.starttime%})</i>
        </td>
     </tr>
     {% endif %}
  </table>
</div>

{% endblock %}

{% block col-2 %}
<div class="kb-contentbox-head">
  stats
</div>
<div class="kb-contentbox">

</div>
{% endblock %}

{% block extra-content %}
<div class="kb-main-content">
  <div class="kb-contentbox-head">
     all sessions
  </div>
</div>
{% endblock %}
