{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}user details for {{ user.username }}{% endblock %}

{% block pagetitle %}
  drinker overview: {{ user.username }}
{% endblock %}

{% block col-1 %}
<div class="kb-contentbox">
  <div style="float:left;">
    {% mugshot_box drinker 128 %}
  </div>
  <table border="0" class="kb-statstable">
     <tr>
        <td align="right" valign="top"><b>Total Entries</b></td>
        <td align="left">{{ user.entries.valid.count }}</td>
     </tr>

     {% if user.entries.valid.count %}
     <tr>
        <td align="right" valign="top"><b>Last Drink</b></td>
        <td align="left">
          {{ user.entries.valid.0.starttime|date:"l, F j, Y" }}<br>
          <i>({% timeago user.entries.valid.0.starttime%})</i>
        </td>
     </tr>
     {% endif %}
  </table>
</div>

{% endblock %}

{% block col-2 %}
<div class="kb-contentbox-head">
  stats
</div>
<div class="kb-contentbox">
  <p>
    <b>total pints, by day of week</b><br>
    {% chart sessions_weekday drinker 350 100 %}
  </p>

  <p>
    <b>all sessions, by pints per session</b><br>
    {% chart sessions_volume drinker.user_session_chunks.all 350 100 %}
  </p>
</div>
{% endblock %}

{% block extra-content %}
<div class="kb-main-content">
  <div class="kb-contentbox-head">
     all sessions
  </div>
  <div class="kb-contentbox">
    {% comment %} TODO(mikey): Pagniate sessions. {% endcomment %}
    {% for chunk in user.user_session_chunks.all %}
      {% with chunk.session as session %}
        {% include "kegweb/keg-session.html" %}
      {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}
